.selected {
    color: black;
}

.first_navlink {
    margin-left: 10%;
}

.navlink {
    margin-right: 10%;
    text-decoration: none !important;
    color: grey;
}

.navlink:hover {
    font-size: large;
    color: black;
}

.navlink:active {
    color: black;
}

.btn_container {
    float: right;
}

.btn_user {
    background: none;
    border: none;
}